body {
    background-image: url('Emoji.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
#temperature-converter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 25px 25px 7px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
  }
  
  #temperature-converter h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #temperature-converter label {
    display: block;
    margin-bottom: 5px;
  }
  
  #temperature-converter input,
  #temperature-converter select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #temperature-converter button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #temperature-converter button:hover {
    background-color: #45a049;
  }
  
  #result-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  #result-label {
    margin-bottom: 5px;
  }
  
  #result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }